@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;   /*no default margin or pading, we want to set them ourselves */
    padding: 0;
    box-sizing: border-box;  /*  it makes most sesne for most developers */
    font-family: "Roboto", sans-serif;   /*  we need to google fonts: roboto regular 400, bold 700 and bold 900   */
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;  /*   it gets rid of bullet points of the list */
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;      /* no underline for the text - on any anchor text */
}
    
button {
    cursor: pointer;
    /* adding a pointer when hivering over a button */
}

.section {
    transition: all 300ms ease;
}

.pointer {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border-bottom: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;        /* to resize the text area  */
    height: 100px;
    margin-top: 8px;
}

.label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #f06449;      /* so the color of the lines are changing when we hover over them  */
}



.orange {
    color: #f06449;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}


/* this class is for the body, and we can utilze it for the toggle to close the cotact form  */

.container {
    padding: 50px 0;     /* so there is some space top and bottom, and left and right space we will add to the row */
    width: 100%;         /* now the container is all the way wide */
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;         /* to center it  */
    padding: 0 12px;
}

         /* icons getting bigger after hovering */

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover { 
    transform: scale(1.1);       /* when I hover over social icons trhey get bigger */
}

.click:active {   /* when you click */
    transform: scale(0.8);    
}

     /* xyz */
.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {       /* we want to target after pseudo element, this lets us add things after the tag, but we want to add the animation, 
    so we need to position absolute it  */
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    left: 0;
    background-color: black;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect:hover:after {      /* we need to target after pseudo element that is why :after */
    left: 0;
    width: 100%;
    transition: all 300ms ease;
}

nav,
.scroll,
.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
    /* we are going to hide it but initially we make it visible 
    we are delaying it by adding 800ms*/
}

.modal__open nav,
.modal__open .scroll, 
.modal__open .header {
    opacity: 0;
    visibility: vhidden;
    transition: all 400ms 200ms;
}

.dark-theme .title, 
.dark-theme .section__title, 
.dark-theme .section__subtitle, 
.dark-theme .nav__link--anchor, 
.dark-theme .fa-circle-half-stroke, 
.dark-theme .header__para {
    color: white;
}

.dark-theme {
    background-color: #242424;
}

.dark-theme #personal-logo {
    filter: invert(1);
}

.dark-theme .scroll__icon {
    border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: white;
}



.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}



/* LANDING PAGE */

#landing-page {
    min-height: 100vh;       /* because we do not ever want to go to the next section on laptop nor mobile, ever */
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* it will put in the middle for you - ASK  */
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;      /* to get some space on the sides  */
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;      /* 6px all around */
    width: 32px;     /* incremental 8 for the width and height - good practice from top tech companies */
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: absolute;       /* to position it in the right bottom corner of the landing page: position absolute, bottom 32px, right 40px */
    bottom: 32px;
    right: 40px;
    z-index: 100;
    position: fixed; 
    /* no matter where we are on the page it is going to be in the bottom right corner */
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.2);
}

.scroll {
    position: absolute;     /* because we do not want to ruin any other elements */
    bottom: 20px;
    left: 50%;
    transform: translateX(50%);       /* with position absolute you always want to transform translate always 50% */
    }

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {    /* pseudo element */
    content: "";     /* because it is a pseudo element we need to set a content even it is to nothing */
    background-color: #242424;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;        /* we need to add class to it so it actually animates. Alternate reverse so it slowly gets back to 0% rather than jumping*/
}

/* to CREATE ANIMATION you have to add keyframes */

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}



/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   /*  links are centered now */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   /* centers navigation */
    height: 100px;
    padding: 0 20px;     /* vs padding 0 32px on the header */
}

#personal-logo {   /* logo changes color from white to black , you can also transition it - using filter   */
    width: 90px;
    height: 80px;
    /* 
       - this to be used when we want to change to the opposite color*/
    scale: 2;  
}

.nav__link--list {
    display: flex;   /* so the links of the nav are side by side  */
}



.nav__link {
    margin: 0 12px;    /* 0 for top and bottom, 12 right and left, it spreads out the links of the navigation */
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}


/* MODAL - pop up with contact and about me info */

.modal {
    position: absolute;       /* we wan to center it and we do not want it to affect anything on the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;  
    border-radius: 20px;
    overflow: hidden;
    display: flex;       /* this brings halves next to each other */
    visibility: hidden;   
    z-index: -1; 
    transition: visibiity 1s, z-index 1s, box-shadow 0.5s ease;         /* so the transition of the form looks better  */
}

.modal__open .modal { 
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);         /* box shadow */
    visibility: visible;
}

.modal__open .modal__about,
.modal__open .modal__contact {
    transform: translateX(0%);
}

.modal__half {
    width: 50%;       /* so they take exactly half width  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 72px;
    position: relative;
    transition: all 300ms ease-in;
}

.modal__about {
    background-color: rgb(245, 245, 245);  
    transform: translateX(-110%);
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__languages {
    display: flex;
    flex-wrap:wrap;
}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
    transition: all 300ms ease;
}

.modal__language:hover .language__name {      /* when we hover over this  */
   transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);    /* so it gets a bit darker when hovered over */
    transform: scale(0.9);   /* so it gets smaller when hover over */
   
}


.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);    /* by default we scale 0 and when we hover over - line below -  */
}

.modal__language--img {
    width: 100%;
}




.modal__title {
    font-size: 26px;
}

.modal__subtitle {
    margin: 12px 0 24px 0;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;       /* it is adding height for us */
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;         /* transition color to transparent */
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    /* display flex:none so that there is no weird background when the form is appearing  */
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal__overlay--loading {    /* we need to add position relative to modal__half */
    background-color: black;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -1;
}

.modal__overlay--visible {       /* we want o create a class that makes it visible, when they press the contact we show the loading  */
    z-index: 1;
    display: flex;
}

.fa-spinner {         /* to make the spinner rotating we add animation with keyframes,a nd then you name it what you want to name it, "spinner" */
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;      /* we want to make sure it is absolutely in front of everything  */
}




/* PROJECTS */

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    margin-bottom: 135px;
}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project:hover .project.img {
    transform: scale(1.07);
}

.project__wrapper {       /* so we position the project description in the right place, so it displays above the project image, 
                            we need to position relative project__wrapper and position absolute project__description */
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {    /* when we hover over project wrapper we target project description and this is when we want to set opacity back to normal */
    opacity: 1;
    transform: translateY(-50%);       /* you return to normal state  */

}

.project__wrapper:hover .project__img {    /* the background blurs on hover over, we target the project image, transform */
    transform: scale(1.07);
    filter: blur(5px);
} 

.project__wrapper:hover .project__wrapper--background {
    opacity: 0.7;
}
/* only when we hover overthe project we want to add opacity to the background  */

.project__description {
    position: absolute;
    top: 50%;        /* whenever you do top 50% you need to transform translate -50%, whenever you do, that centers it, this is how you do it with position absolute */
    left: 90px;
    transform: translateY(100%);        /* this is its normal state */
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__wrapper--background {        /* black background that pops up when hovering over the image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0.7;
}

.project__description--title {
    font-size: 40px;
}

.project__description--subtitle {
    margin-top: 8px;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}
.project__description--para {
    margin: 16px 0;
}

.project__list {        /* so that there is a space between projects */
    display: flex;
    flex-direction: column;
    gap: 40px;
}


/* FOOTER */

footer {
    background-color: black;
    display: flex;
    padding: 6% 0;
    position: relative;       /* so that the shapes go behind it  */
}

.footer__container {
    margin: 0 auto;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;       /* because we added flex direction column, align center - centers it horizontally */
}

.footer__logo--img {
    width: 90px;
    filter: invert(1); 
    scale: 2; 
}

.footer__social--list {
    width: 100%;
    max-width: 500px;       /* so we bring them closer together */
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer__social--link, .footer__copyright {
    color: white;
}

/* SHAPES 

shapes on the first row 
height = 15vh

shapes on the 2nd row 
height = 50vh

shapes on the third row 
height = 80vh

shapes on the 1st column
width = 5vw

2nd 50 vw 

3rd 80vw
*/

.shape {
    position: fixed;       /* so when we scroll we want them to stay in the same area  */
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}

.shape--1 {
    top: 15vh;
    left: 50vw;
}

.shape--2 {
    top: 15vh;
    left: 80vw;
}

.shape--3 {
    top: 50vh;
    left: 5vw;
}

.shape--4 {
    top: 50vh;
    left: 50vw;
}

.shape--5 {
    top: 50vh;
    left: 80vw;
}

.shape--6 {
    top: 80vh;
    left: 5vw;
}

.shape--7 {
    top: 80vh;
    left: 50vw;
}

.shape--8 {
    top: 80vh;
    left: 80vw;
}

/* SMALL PHONE, TABLET< LARGE SMARTPHONE responsiveness */
/* responsiveness is easier when we use flex box, we only need to use this amount of code to do responsiveness  */

@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }

    .header__para {
        font-size: 20px;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal__half {
        width: 100%;

    }
}


/* SMALL PHONE responsiveness */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }

    .header__para {
        font-size: 18px;
    }

    .nav__link:first-child {
        display: none;
    }

    .project__description--para {
        display: none;
    }

    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .project__description--subtitle {
        margin-bottom: 8px;
    }

    .modal__half {
        padding: 40px;
    }
}



